body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  header {
    height: 100px;
    width: 100%;
    background-color: black;
    
    
    position: sticky;
    top: 0;
    padding: 5px;
    
  
  
  }
  
  li {
    display: inline-block;
    color: white;
    margin: 10px;
  }
  ul {
    float: right;
    margin-right: 20px;
  }
  h1 {
    margin-left: 5px;
    color: yellow;
    float: left;
    margin-left: 2%;
    margin-bottom: 10px;
  }
  
  li:hover {
    color: green;
    transition: 0.5s;
  }
  
  li {
    font-size: large;
  }
  
  
  img{
    width: 500px;
    height: 350px;
    margin-top: 20px;
    margin-left:500px;
    position: relative;
  }
  
  h2{
  position: absolute;
  margin-left: 650px;
  margin-top: -210px;
  color: yellow;
  
  }

  .service{
    display: inline-flex;
    height: 200px;
    width: 300px;
    border: 1px solid red;
    margin: 20px 0px 0px 150px;
    text-align: center;
    background-color: antiquewhite;
  

  }